<!DOCTYPE html>
<html>
<head>
    <title></title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
        
        	<div class="form-group col-sm-2"  style="width:440px">
        		 
				<input type="text"             class="form-control" v-model="q.name" @keyup.enter="query" placeholder="姓名" style="width:120px; display:inline">
						
				<input type="text"  id="start" class="form-control" v-model="q.start"  placeholder='发生日期' onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" style="width:120px; display:inline; margin-left:20px">
				-
				<input type="text"  id="ends"  class="form-control" v-model="q.ends"   placeholder='发生日期'  onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" style="width:120px; display:inline;">
			
			</div>
			<a class="btn btn-default" @click="query"><i class="fa fa-search"></i>&nbsp;查询</a>
			
			
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

</div>

<script src="${request.contextPath}/statics/js/modules/sys/dapointsqry.js?_${.now?long}"></script>
<script src="${request.contextPath}/statics/plugins/My97DatePicker/WdatePicker.js"></script>
</body>
</html>